<section id="content">

        <div class="container">
            <div class="section">
               
                    




                    <div id="card-stats" class="seaction  ">
                           
                            <div class="row">
                                    <div class="card col offset-m2 s12  m8">
                                            <div class="card-content">
                                                <div class="slider">
                                                    <ul class="slides">
                                                      <li>
                                                        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                                                        <div class="caption center-align">
                                                          <h3>This is our big Tagline!</h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>
                                                      <li>
                                                        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                                                        <div class="caption left-align">
                                                          <h3>Left Aligned Caption</h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>
                                                      <li>
                                                        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                                                        <div class="caption right-align">
                                                          <h3>Right Aligned Caption</h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>
                                                      <li>
                                                        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                                                        <div class="caption center-align">
                                                          <h3>This is our big Tagline!</h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                
                                            </div>


                                            <div class="card-tabs">
                                              <ul class="tabs tabs-fixed-width">
                                                <li class="tab"><a href="#Description" class="active">Description</a></li>
                                                  <li class="tab"><a href="#Prerequisite">Prerequisite</a></li>
                                                  <li class="tab"><a href="#ProjectInfo">Project Information</a></li>
                                                  <li class="tab"><a href="#HowItWorks">How It Works ?</a></li>
                                                <li class="tab"><a href="#Devloper">Devloper</a></li>
                                              </ul>
                                            </div>
                                            <div class="card-content white lighten-4">
                                              <div id="Description">

                                                  <table>
                                                      <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Item Name</th>
                                                            <th>Item Price</th>
                                                        </tr>
                                                      </thead>
                                              
                                                      <tbody>
                                                          <tr>
                                                              <td>Alvin</td>
                                                              <td>Eclair</td>
                                                              <td>$0.87</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Alvin</td>
                                                                <td>Eclair</td>
                                                                <td>$0.87</td>
                                                              </tr>
                                                              <tr>
                                                                  <td>Alvin</td>
                                                                  <td>Eclair</td>
                                                                  <td>$0.87</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Alvin</td>
                                                                    <td>Eclair</td>
                                                                    <td>$0.87</td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td>Alvin</td>
                                                                      <td>Eclair</td>
                                                                      <td>$0.87</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Alvin</td>
                                                                        <td>Eclair</td>
                                                                        <td>$0.87</td>
                                                                      </tr>
                                                                                                              
                                                        <tr>
                                                          <td>Alan</td>
                                                          <td>Jellybean</td>
                                                          <td>$3.76</td>
                                                        </tr>
                                                        <tr>
                                                          <td>Jonathan</td>
                                                          <td>Lollipop</td>
                                                          <td>$7.00</td>
                                                        </tr>
                                                      </tbody>
                                                    </table>

                                              </div>
                                              <div id="Prerequisite">Prerequisite</div>
                                              <div id="ProjectInfo">Project Information </div>
                                              <div id="HowItWorks">How It Works ? </div>
                                              <div id="Devloper">
                                                  <div id="profile-page" class="section">
                                                      <!-- profile-page-header -->
                                                      <div id="profile-page-header" class="card">
                                                          <div class="card-image waves-effect waves-block waves-light">
                                                              <img class="activator" src="../../assets/images/user-profile-bg.jpg" alt="user background">                    
                                                          </div>
                                                          <figure class="card-profile-image">
                                                              <img src="../../assets/images/avatar.jpg" alt="profile image" class="circle z-depth-2 responsive-img activator">
                                                          </figure>
                                                          <div class="card-content">
                                                            <h3></h3>
                                                            <div class="row">                    
                                                              <div class="col s3 offset-s2">                        
                                                                  <h4 class="card-title grey-text text-darken-4"></h4><br>
                                                                  <h4 class="card-title grey-text text-darken-4">Roger Waters</h4>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-university"></i><br>10+</h4>
                                                                  <p class="medium-small grey-text">Work Experience</p>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-android-checkbox-outline"></i><br>6</h4>
                                                                  <p class="medium-small grey-text">Completed Projects</p>                        
                                                              </div>                    
                                                              <div class="col s2 center-align">

                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-person-stalker"></i><br>10</h4>
                                                                  <p class="medium-small grey-text">Followers</p>                        
                                                              </div>                    
                                                              <div class="col s1 right-align">
                                                                <a class="btn-floating activator waves-effect waves-light darken-2 right">
                                                                    <i class="mdi-action-perm-identity"></i>
                                                                </a>
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="card-reveal">
                                                              <p>
                                                                <span class="card-title grey-text text-darken-4">Roger Waters <i class="mdi-navigation-close right"></i></span>
                                                                <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i> Project Manager</span>
                                                              </p>
                                          
                                                              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                                              
                                                              <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>
                                                              <p><i class="mdi-communication-email cyan-text text-darken-2"></i> mail@domain.com</p>
                                                              <p><i class="mdi-social-cake cyan-text text-darken-2"></i> 18th June 1990</p>
                                                              <p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>
                                                          </div>
                                                      </div>
                                                    



                                              </div>

                                              <div id="profile-page-content" class="row">
                                                  <!-- profile-page-sidebar-->
                                                  <div id="profile-page-sidebar" class="col s12 m12">
                                                    <!-- Profile About  -->
                                                    <div class="col s12 m4">
                                                    <div class="card light-blue">
                                                      <div class="card-content white-text">
                                                        <span class="card-title">About Me!</span>
                                                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                                      </div>                  
                                                    </div>
                                                     </div>
                                                    <!-- Profile About  -->
                                                    <div class="col s12 m4">
                                                    <!-- Profile About Details  -->
                                                    <ul id="profile-page-about-details" class="collection z-depth-1">
                                                      <li class="collection-item">
                                                        <div class="row">
                                                          <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Project</div>
                                                          <div class="col s7 grey-text text-darken-4 right-align">ABC Name</div>
                                                        </div>
                                                      </li>
                                                      <li class="collection-item">
                                                        <div class="row">
                                                          <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                                                          <div class="col s7 grey-text text-darken-4 right-align">HTML, CSS</div>
                                                        </div>
                                                      </li>
                                                      <li class="collection-item">
                                                        <div class="row">
                                                          <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                                                          <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                                                        </div>
                                                      </li>
                                                      <li class="collection-item">
                                                        <div class="row">
                                                          <div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Birth date</div>
                                                          <div class="col s7 grey-text text-darken-4 right-align">18th June, 1991</div>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                    </div>
                                                    <!--/ Profile About Details  -->
                                                    
                                                    <!-- Profile About  -->
                                    
                                                    <!-- Profile feed  -->
                                                    <div class="col s12 m4">
                                                    <ul id="profile-page-about-feed" class="collection z-depth-1">
                                                      <li class="collection-item avatar">
                                                        <img src="images/avatar.jpg" alt="" class="circle">
                                                        <span class="title">Project Title</span>
                                                        <p>Task assigned to new changes.
                                                          <br> <span class="ultra-small">Second Line</span>
                                                        </p>
                                                        <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
                                                      </li>
                                                      <li class="collection-item avatar">
                                                        <i class="mdi-file-folder circle"></i>
                                                        <span class="title">New Project</span>
                                                        <p>First Line of Project Work 
                                                          <br> <span class="ultra-small">Second Line</span>
                                                        </p>
                                                        <a href="#!" class="secondary-content"><i class="mdi-social-domain"></i></a>
                                                      </li>
                                                      <li class="collection-item avatar">
                                                        <i class="mdi-action-assessment circle green"></i>
                                                        <span class="title">New Payment</span>
                                                        <p>Last UK Project Payment
                                                          <br> <span class="ultra-small">$ 3,684.00</span>
                                                        </p>
                                                        <a href="#!" class="secondary-content"><i class="mdi-editor-attach-money"></i></a>
                                                      </li>
                                                      <li class="collection-item avatar">
                                                        <i class="mdi-av-play-arrow circle red"></i>
                                                        <span class="title">Latest News</span>
                                                        <p>company management news
                                                          <br> <span class="ultra-small">Second Line</span>
                                                        </p>
                                                        <a href="#!" class="secondary-content"><i class="mdi-action-track-changes"></i></a>
                                                      </li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                                    </div>
                                                
                                            </div>
                                          </div>
                                                    
                                
                                
                            </div>
    
                            
                                    
                    </div>
            </div>
        </div>
                       
</section>