<section id="content" >

    <div class="container">
      
      <div class="row">
      <div class=" col offset-m1 offset-l1 s8 m9 l9">
      
              <div class="row">
                <div class="col s12 m12 l12 ">
                   <h4 class="header"><span class="blue-text text-darken-2">Project Title : </span>{{vm.project.projectTitle}}</h4>
                </div>
                
              
              <!--Static Data-->
              <div class="row">
                <div class="col offset-m1 offset-s3 offset-l1 s12 m112 l12 ">
                  
                    <table class="hoverable centered highlight " >
                      <thead>
                        <tr> 
                          <th >Project Field</th>
                          <th >Project Info</th>
                        
                          
                        </tr>
                      </thead>
                      <tbody> 
                      
                      <tr>
                          <td class="blue-text text-darken-2">Screenshots</td>
                          <td >
                                  <div class="col offset-m3 offset-s3 offset-l3 s12 l6 m6 ">
                                         
                                            <img ng-src="{{vm.project.screenShotUrl}}" style="height:300px;width:300px;">
                                        
                                      
                                  </div>
                              </td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2" >Project Category</td>
                          <td >{{vm.project.projectCategory}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2">Developer Name</td>
                          <td >{{vm.project.developer}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2">Programming Languages</td>
                          <td >{{vm.project.programmingLanguage}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2">Frontend Technologys</td>
                          <td >{{vm.project.frontendTechnology}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2">IDE Types</td>
                          <td >{{vm.project.projectIDE}}</td>
                         
                          
                      </tr>
      
                      <tr>
                          <td class="blue-text text-darken-2">Platform Types</td>
                          <td >{{vm.project.platformType}}</td>
                         
                          
                      </tr>
      
                      <tr>
                          <td class="blue-text text-darken-2"> Database Types</td>
                          <td >{{vm.project.databaseType}}</td>
                         
                          
                      </tr>
      
                      <tr>
                          <td class="blue-text text-darken-2">No.Of Database Tables</td>
                          <td >{{vm.project.noOfDatabaseTables}}</td>
                         
                          
                      </tr>
      
                      <tr>
                          <td class="blue-text text-darken-2">No.Of Report Pages</td>
                          <td >{{vm.project.noOfReportPages}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2">No.Of  Modules</td>
                          <td >{{vm.project.noOfProjectModules}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2"> Module Names</td>
                          <td >{{vm.project.moduleNames}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2"> Description</td>
                          <td >{{vm.project.description}}</td>
                         
                          
                      </tr>
                      <tr>
                          <td class="blue-text text-darken-2"> Price</td>
                          <td >Rs. {{vm.project.finalPrice}}</td>
                         
                         
                      </tr>
                      <tr>
                          <td> <a class="waves-effect waves-light btn modal-trigger" ng-click="vm.showProjectRequestModel()">View Demo</a>
                              <form name="updateProjectRequest" ng-submit="vm.updateProjectRequest(vm.project.comment,vm.project._id)">
                              <div id="updateProjectRequest" class="modal">
                              
                                  <div class="modal-content">
                                    <h4>Project Request </h4>
                                    <p></p>
                                   
                                    <div class="row">
                                      <div class="input-field col s12 m12 l12">
                                        <i class="ion-quote prefix"></i>
                                        <input id="fullName" type="text" value="vm.project.comment" ng-model="vm.project.comment" ng-required="true">
                                        <label for="fullName">Comment for Rejection </label>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="modal-action  waves-effect waves-green green btn-flat" ng-disabled="updateProjectRequest.$invalid">Save</button>
                                      <a href="#!" class="modal-action modal-close waves-effect waves-green  orange btn-flat">Cancel</a>
                                  </div>
                                
                                </div>
                              </form>
                          </td>
                          <td><a ng-click="vm.verifyProjectRequest(vm.project._id)" class="waves-effect waves-light btn">Buy</a></td>
                      </tr>
                      </tbody>
                    </table>
                </div>
              </div>
              </div>
              
              
      </div>
      </div>
      
      
    </div>
                   
</section>




<!-- <section id="content" >

        <div class="container">
            <div class="section">
                <h5 class="breadcrumbs-title">{{vm.project.projectTitle}}</h5>
                  
                
                    <div id="card-stats" class="seaction">
                           
                            <div class="row">
                                    <div class="card col offset-m2 offset-l2 s12 m8 l8">
                                            <div class="card-content">
                                                <div class="slider s12 m4 l4"  slider>
                                                    <ul class="slides" >
                                                        <li >
                                                            <img ng-src="../../assets/images/{{vm.project.indexPageUrl}}"> 
                                                            <div class="caption center-align">
                                                              <h3></h3>
                                                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                            </div>
                                                          </li>
                                                      <li>
                                                        <img ng-src="../../assets/images/{{vm.project.screenShotUrl[0]}}"> 
                                                        <div class="caption center-align">
                                                          <h3></h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>

                                                    </ul>
                                                  </div>
                                                  
                                                
                                            </div>


                                            <div class="card-tabs">
                                              <ul class="tabs tabs-fixed-width">
                                                <li class="tab"><a href="#Description" class="active">Description</a></li>
                                                  <li class="tab"><a href="#Prerequisite">Prerequisite</a></li>
                                                  <li class="tab"><a href="#ProjectInfo">Project Information</a></li>
                                                  <li class="tab"><a href="#HowItWorks">How It Works ?</a></li>
                                                <li class="tab"><a href="#Devloper">Devloper</a></li>
                                              </ul>
                                            </div>
                                            <div class="card-content white lighten-4">
                                              <div id="Description">

                                                  {{vm.project.description}}
                                              </div>
                                              <div id="Prerequisite">Prerequisite</div>
                                              <div id="ProjectInfo">
                                                  <dt class="light-blue-text text-darken-4">Programming Language :</dt>
                                                  <dd><span ng-repeat="programmingLanguage in vm.project.programmingLanguage">{{programmingLanguage.name}},</span></dd>
                                                  <dt><h6 class="light-blue-text text-darken-4">Frontend Technology :</h6></dt>
                                                  <dd> <span ng-repeat="frontendTechnology in vm.project.frontendTechnology">{{frontendTechnology.name}} ,</span>
                                                  </div></dd>
                                                </dl>
                                                  
                                             
                                           
                                              <div id="HowItWorks">How It Works ? </div>
                                              <div id="Devloper">
                                                  <div id="profile-page" class="section">
                                                     
                                                      <div id="profile-page-header" class="card">
                                                          <div class="card-image waves-effect waves-block waves-light">
                                                              <img class="activator" src="../../assets/images/user-profile-bg.jpg" alt="user background">                    
                                                          </div>
                                                          <figure class="card-profile-image">
                                                              <img ng-src="../../assets/images/{{vm.project.developer.picture}}" alt="profile image" class="circle z-depth-2 responsive-img activator">
                                                          </figure>
                                                          <div class="card-content">
                                                            <h3></h3>
                                                            <div class="row">                    
                                                              <div class="col s3 offset-s2">                        
                                                                  <h4 class="card-title grey-text text-darken-4"></h4><br>
                                                                  <h4 class="card-title grey-text text-darken-4">{{vm.project.developer.fullName}}</h4>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-university"></i><br>{{vm.project.developer.workExperience}}</h4>
                                                                  <p class="medium-small grey-text">Work Experience</p>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-android-checkbox-outline"></i><br>{{vm.project.developer.project.length}}</h4>
                                                                  <p class="medium-small grey-text">Completed Projects</p>                        
                                                              </div>                    
                                                              <div class="col s2 center-align">

                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-person-stalker"></i><br>{{vm.project.developer.followers}}</h4>
                                                                  <p class="medium-small grey-text">Followers</p>                        
                                                              </div>                    
                                                              
                                                            </div>
                                                          </div>
                                                          
                                                      </div>
                                                    



                                              </div>

                                              <div id="profile-page-content" class="row">
                                            
                                                  <div id="profile-page-sidebar" class="col s12 m12">
                                                  
                                                    <div class="col s12 m4">
                                                        <div class="card light-blue">
                                                            <div class="card-content white-text">
                                                              <span class="card-title">About Me!</span>
                                                              <p>{{vm.project.developer.aboutMe}}</p>
                                                            </div>                  
                                                          </div>
                                                          <ul id="profile-page-about-details" class="collection z-depth-1">
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Work In </div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">{{vm.project.developer.workInCompany}}</div>
                                                                </div>
                                                              </li>
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">{{vm.project.developer.softSkills}}</div>
                                                                </div>
                                                              </li>
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                                                                </div>
                                                              </li>
                                                             
                                                            </ul>
                                                     </div>
                                                   
                                                    
                                                  
                                    
                                                   
                                                    <div class="col s12 m8">
                                                        <ul id="profile-page-about-feed" class="collection z-depth-1">
                                                            <li class="collection-item avatar" ng-repeat="project in vm.project.developer.project">
                                                                    <div class="col s6 m6" >  
                                                                    <img ng-src="../../assets/images/{{project.indexPageUrl}}" alt="" class="circle">
                                                                    <span class="title">{{project.projectTitle}}</span>
                                                                    
                                                                    </div>  
                                                          </li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                                    </div>
                                                
                                            </div>
                                          </div>
                            </div>             
                    </div>
            </div>
        </div>
                       
</section> -->