 




 
<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
 
 <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    
                        <li class="bold center "><h3 class="cyan-text"><i class="ion-funnel"></i>Filters</h3>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan cyan-text"><i class="ion-social-javascript"></i>Language</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><p>
                                                <input type="checkbox" id="Java" checked="checked" />
                                                <label for="Java">Java</label>
                                            
                                                <input type="checkbox" id="C++" checked="checked" />
                                                <label for="C++">C++</label>
                                                <input type="checkbox" id="C" checked="checked" />
                                                <label for="C">C&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input type="checkbox" id=".Net" checked="checked" />
                                                <label for=".Net">.Net</label>
                                            </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"><i class="ion-soup-can-outline"></i>Database</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <p>
                                            <input type="checkbox" id="MySql" checked="checked" />
                                                <label for="MySql">MySql</label>
                                            
                                                <input type="checkbox" id="MongoDb" checked="checked" />
                                                <label for="MongoDb">MongoDb</label>
                                            </p> 
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect cyan-text waves-cyan"><i class="ion-social-angular-outline"></i>FrontEnd</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><p>
                                                    <input type="checkbox" id="AngularJS" checked="checked" />
                                                    <label for="AngularJS">AngularJS</label>
                                                
                                                    <input type="checkbox" id="BootStrap" checked="checked" />
                                                    <label for="BootStrap">BootStrap</label>
                                                    <input type="checkbox" id="Angular2" checked="checked" />
                                                    <label for="Angular2">Angular2&nbsp;&nbsp;&nbsp;</label>
                                                    <input type="checkbox" id="HTML" checked="checked" />
                                                    <label for="HTML">HTML</label>
                                                </p>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"><i class="ion-social-apple"></i>Plantform</a>
                                    <div class="collapsible-body">
                                        <ul>
                                                <p>
                                                        <input type="checkbox" id="Mac OS" checked="checked" />
                                                        <label for="Mac OS">Mac OS</label>
                                                    
                                                        <input type="checkbox" id="Windows" checked="checked" />
                                                        <label for="Windows">Windows</label>
                                                        <input type="checkbox" id="Ubuntu" checked="checked" />
                                                        <label for="Ubuntu">Ubuntu&nbsp;&nbsp;&nbsp;</label>
                                                        
                                                    </p>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                                <ul class="collapsible collapsible-accordion">
                                    <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"><i class="ion-social-usd"></i>Price {{min}}</a>
                                        <div class="collapsible-body">
                                            <ul> <p>
                                                    <rzslider rz-slider-model="slider.minValue"
                                                    rz-slider-high="slider.maxValue"
                                                    rz-slider-options="slider.options"></rzslider>
                                                </p>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        
                        
                    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
                    </ul>
                </aside>

  <section id="content">

    <div class="container">
        <div class="section">
           
                
                <div id="card-stats" class="seaction col offset-m3">
                       
                        <div class="row">
                            <div class="col offset-m3 s12 m4">
                            <div class="card medium">
                                <div class="card-image">
                                <img class="activator" src="../assets/images/php.png">
                                </div>
                                <div class="card-content">
                                <span class="card-title activator cyan-text text-lighten-3">Web Application<i class="ion-android-more-vertical right"></i> </span>
                            
                                <p>I am a project card. Check back soon to see my work.</p>
                                </div>
                                <div class="card-action ">
                                        <a href="/project">View</a>
                                        <a href="#">₹ 3000</a>
                                </div>
                                <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                      </div>
                            </div>
                            </div>
                            <div class="col s12 m4">
                            <div class="card medium">
                                <div class="card-image">
                                <img class="activator" src="../assets/images/apps.png">
                                    </div>
                                <div class="card-content">
                                <span class="card-title activator cyan-text text-lighten-3"> Mobile Application <i class="ion-android-more-vertical right"></i></span> </span>
                            
                                <p>I am a project card. Check back soon to see my work.</p>
                                </div>
                                <div class="card-action ">
                                        <a href="/project">View</a>
                                        <a href="#">₹ 3000</a>
                                </div>
                                <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                      </div>
                            </div>
                            </div>
                            
                        </div>

                        <div class="row">
                                <div class="col offset-m3 s12 m4">
                                <div class="card medium">
                                    <div class="card-image">
                                    <img class="activator" src="../assets/images/php.png">
                                    </div>
                                    <div class="card-content">
                                    <span class="card-title activator cyan-text text-lighten-3">Web Application<i class="ion-android-more-vertical right"></i></span> </span>
                                
                                    <p>I am a project card. Check back soon to see my work.</p>
                                    </div>
                                    <div class="card-action ">
                                            <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                    </div>
                                    <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                          </div>
                                </div>
                                </div>
                                <div class="col s12 m4">
                                <div class="card medium">
                                    <div class="card-image">
                                    <img class="activator" src="../assets/images/apps.png">
                                        </div>
                                    <div class="card-content">
                                    <span class="card-title activator cyan-text text-lighten-3"> Mobile Application <i class="ion-android-more-vertical right"></i></span></span>
                                
                                    <p>I am a project card. Check back soon to see my work.</p>
                                    </div>
                                    <div class="card-action ">
                                            <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                    </div>
                                    <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                          </div>
                                </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                    <div class="col offset-m3 s12 m4">
                                    <div class="card medium">
                                        <div class="card-image">
                                        <img class="activator" src="../assets/images/php.png">
                                        </div>
                                        <div class="card-content">
                                        <span class="card-title activator cyan-text text-lighten-3">Web Application <i class="ion-android-more-vertical right"></i></span> </span>
                                    
                                        <p>I am a project card. Check back soon to see my work.</p>
                                        </div>
                                        <div class="card-action ">
                                                <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                        </div>
                                        <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                              </div>
                                    </div>
                                    </div>
                                    <div class="col s12 m4">
                                    <div class="card medium">
                                        <div class="card-image">
                                        <img class="activator" src="../assets/images/apps.png">
                                            </div>
                                        <div class="card-content">
                                        <span class="card-title activator cyan-text text-lighten-3"> Mobile Application <i class="ion-android-more-vertical right"></i> </span></span>
                                    
                                        <p>I am a project card. Check back soon to see my work.</p>
                                        </div>
                                        <div class="card-action ">
                                                <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                        </div>
                                        <div class="card-reveal">
                                                <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                              </div>
                                    </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        <div class="col offset-m3 s12 m4">
                                        <div class="card medium">
                                            <div class="card-image">
                                            <img class="activator" src="../assets/images/php.png">
                                            </div>
                                            <div class="card-content">
                                            <span class="card-title activator cyan-text text-lighten-3">Web Application <i class="ion-android-more-vertical right"></i> </span> </span>
                                        
                                            <p>I am a project card. Check back soon to see my work.</p>
                                            </div>
                                            <div class="card-action ">
                                                    <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                            </div>
                                            <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                  </div>
                                        </div>
                                        </div>
                                        <div class="col s12 m4">
                                        <div class="card medium">
                                            <div class="card-image">
                                            <img class="activator" src="../assets/images/apps.png">
                                                </div>
                                            <div class="card-content">
                                            <span class="card-title activator cyan-text text-lighten-3"> Mobile Application <i class="ion-android-more-vertical right"></i> </span></span>
                                        
                                            <p>I am a project card. Check back soon to see my work.</p>
                                            </div>
                                            <div class="card-action ">
                                            <a href="/project">View</a>
                                            <a href="#">₹ 3000</a>
                                            </div>
                                            <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Card Title<i class="ion-android-close right"></i></span>
                                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                                  </div>
                                        </div>
                                        </div>
                                        
                                    </div>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
    </div>
    
<!-- END WRAPPER -->


  <!-- END LEFT SIDEBAR NAV-->
    
            

          