<section id="content" ng-controller="projectInfoController as vm">

        <div class="container">
            <div class="section">
                <h5 class="breadcrumbs-title">{{vm.project.projectTitle}}</h5>
                  
                
                    <div id="card-stats" class="seaction">
                           
                            <div class="row">
                                    <div class="card col offset-m2 offset-l2 s12 m8 l8">
                                            <div class="card-content">
                                                <div class="slider s12 m4 l4"  slider>
                                                    <ul class="slides" >
                                                        <li >
                                                            <img ng-src="../../assets/images/{{vm.project.indexPageUrl}}"> <!-- random image -->
                                                            <div class="caption center-align">
                                                              <h3></h3>
                                                              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                            </div>
                                                          </li>
                                                      <li>
                                                        <img ng-src="../../assets/images/{{vm.project.screenShotUrl[0]}}"> <!-- random image -->
                                                        <div class="caption center-align">
                                                          <h3></h3>
                                                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                                        </div>
                                                      </li>

                                                    </ul>
                                                  </div>
                                                  
                                                
                                            </div>


                                            <div class="card-tabs">
                                              <ul class="tabs tabs-fixed-width">
                                                <li class="tab"><a href="#Description" class="active">Description</a></li>
                                                  <li class="tab"><a href="#Prerequisite">Prerequisite</a></li>
                                                  <li class="tab"><a href="#ProjectInfo">Project Information</a></li>
                                                  <li class="tab"><a href="#HowItWorks">How It Works ?</a></li>
                                                <li class="tab"><a href="#Devloper">Devloper</a></li>
                                              </ul>
                                            </div>
                                            <div class="card-content white lighten-4">
                                              <div id="Description">

                                                  {{vm.project.description}}
                                              </div>
                                              <div id="Prerequisite">Prerequisite</div>
                                              <div id="ProjectInfo">
                                                  <dt class="light-blue-text text-darken-4">Programming Language :</dt>
                                                  <dd><span ng-repeat="programmingLanguage in vm.project.programmingLanguage">{{programmingLanguage.name}},</span></dd>
                                                  <dt><h6 class="light-blue-text text-darken-4">Frontend Technology :</h6></dt>
                                                  <dd> <span ng-repeat="frontendTechnology in vm.project.frontendTechnology">{{frontendTechnology.name}} ,</span>
                                                  </div></dd>
                                                </dl>
                                                  
                                             
                                           
                                              <div id="HowItWorks">How It Works ? </div>
                                              <div id="Devloper">
                                                  <div id="profile-page" class="section">
                                                      <!-- profile-page-header -->
                                                      <div id="profile-page-header" class="card">
                                                          <div class="card-image waves-effect waves-block waves-light">
                                                              <img class="activator" src="../../assets/images/user-profile-bg.jpg" alt="user background">                    
                                                          </div>
                                                          <figure class="card-profile-image">
                                                              <img ng-src="../../assets/images/{{vm.project.developer.picture}}" alt="profile image" class="circle z-depth-2 responsive-img activator">
                                                          </figure>
                                                          <div class="card-content">
                                                            <h3></h3>
                                                            <div class="row">                    
                                                              <div class="col s3 offset-s2">                        
                                                                  <h4 class="card-title grey-text text-darken-4"></h4><br>
                                                                  <h4 class="card-title grey-text text-darken-4">{{vm.project.developer.fullName}}</h4>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-university"></i><br>{{vm.project.developer.workExperience}}</h4>
                                                                  <p class="medium-small grey-text">Work Experience</p>                        
                                                              </div>
                                                              <div class="col s2 center-align">
                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-android-checkbox-outline"></i><br>{{vm.project.developer.project.length}}</h4>
                                                                  <p class="medium-small grey-text">Completed Projects</p>                        
                                                              </div>                    
                                                              <div class="col s2 center-align">

                                                                  <h4 class="card-title grey-text text-darken-4"><i class="ion-person-stalker"></i><br>{{vm.project.developer.followers}}</h4>
                                                                  <p class="medium-small grey-text">Followers</p>                        
                                                              </div>                    
                                                              
                                                            </div>
                                                          </div>
                                                          
                                                      </div>
                                                    



                                              </div>

                                              <div id="profile-page-content" class="row">
                                                  <!-- profile-page-sidebar-->
                                                  <div id="profile-page-sidebar" class="col s12 m12">
                                                    <!-- Profile About  -->
                                                    <div class="col s12 m4">
                                                        <div class="card light-blue">
                                                            <div class="card-content white-text">
                                                              <span class="card-title">About Me!</span>
                                                              <p>{{vm.project.developer.aboutMe}}</p>
                                                            </div>                  
                                                          </div>
                                                          <ul id="profile-page-about-details" class="collection z-depth-1">
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Work In </div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">{{vm.project.developer.workInCompany}}</div>
                                                                </div>
                                                              </li>
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">{{vm.project.developer.softSkills}}</div>
                                                                </div>
                                                              </li>
                                                              <li class="collection-item">
                                                                <div class="row">
                                                                  <div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>
                                                                  <div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>
                                                                </div>
                                                              </li>
                                                             
                                                            </ul>
                                                     </div>
                                                    <!-- Profile About  -->
                                                
                                                    <!--/ Profile About Details  -->
                                                    
                                                    <!-- Profile About  -->
                                    
                                                    <!-- Profile feed  -->
                                                    <div class="col s12 m8">
                                                        <ul id="profile-page-about-feed" class="collection z-depth-1">
                                                            <li class="collection-item avatar" ng-repeat="project in vm.project.developer.project">
                                                                    <div class="col s6 m6" >  
                                                                    <img ng-src="../../assets/images/{{project.indexPageUrl}}" alt="" class="circle">
                                                                    <span class="title">{{project.projectTitle}}</span>
                                                                    
                                                                    </div>  
                                                          </li>
                                                    </ul>
                                                    </div>
                                                    </div>
                                                    </div>
                                                
                                            </div>
                                          </div>
                            </div>             
                    </div>
            </div>
        </div>
                       
</section>