
 
<div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
 
 <!-- START LEFT SIDEBAR NAV-->
                <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation scrollspy">
                    
                        <li class="bold center "><h3 class="cyan-text"><i class="ion-funnel"></i>Filters</h3>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect waves-cyan cyan-text"><i class="ion-social-javascript"></i>Language</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><span ng-repeat="programmingLanguage in vm.programmingLanguages">&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" id="{{programmingLanguage.name}}" checked="checked" ng-model="programmingLanguage.checked"/>
                                                <label for="{{programmingLanguage.name}}">{{programmingLanguage.name}}</label>
                                            
                                            </span>

                                            
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"><i class="ion-soup-can-outline"></i>Database</a>
                                    <div class="collapsible-body">
                                        <ul>
                                           <li> <span ng-repeat="databaseType in vm.databaseTypes">&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" id="{{databaseType.name}}" checked="checked" ng-model="databaseType.checked"/>
                                                <label for="{{databaseType.name}}">{{databaseType.name}}</label>
                                            
                                            </span>
                                        </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header waves-effect cyan-text waves-cyan"><i class="ion-social-angular-outline"></i>FrontEnd</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><span ng-repeat="frontendTechnology in vm.frontendTechnologys">&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" id="{{frontendTechnology.name}}" checked="checked" ng-model="frontendTechnology.checked"/>
                                                <label for="{{frontendTechnology.name}}">{{frontendTechnology.name}}</label>
                                            
                                            </span>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"><i class="ion-social-apple"></i>Plantform</a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <span ng-repeat="platformType in vm.platformTypes">&nbsp;&nbsp;&nbsp;
                                                <input type="checkbox" id="{{platformType.name}}" checked="checked" ng-model="platformType.checked" />
                                                <label for="{{platformType.name}}">{{platformType.name}}</label>
                                            
                                            </span>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="no-padding">
                                <ul class="collapsible collapsible-accordion">
                                    <li class="bold"><a class="collapsible-header cyan-text waves-effect waves-cyan"></i>Min Price : {{vm.min}}</a>
                                        <div class="collapsible-body">
                                            <ul> <p>
                                                    <rzslider rz-slider-model="slider.minValue"
                                                    rz-slider-high="slider.maxValue"
                                                    rz-slider-options="slider.options"></rzslider>
                                                </p>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        
                        
                     </ul>

                     <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
                     
                </aside>

  <section id="content">

    <div class="container">
        
        <div class="section">
           
                
                <div id="card-stats" class="seaction col offset-m3">
                      
                        <div class="row" ng-repeat="project in projects=(vm.projects | projectFilter:main.search:vm.programmingLanguages:vm.databaseTypes:vm.frontendTechnologys:vm.platformTypes:vm.min:vm.max)" ng-if="$index % 2 == 0" >
                            <div class="col offset-m3 s12 m4" ng-if="projects[$index].projectTitle">
                                <div class="card medium" >
                                    <div class="card-image">
                                        <img class="activator" ng-src="{{projects[$index].indexPageUrl}}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator cyan-text text-lighten-3">{{projects[$index].projectTitle}}<i class="ion-android-more-vertical right"></i> </span>
                                    
                                       
                                    </div>
                                    <div class="card-action ">
                                            <a ng-href="/project/{{projects[$index]._id}}">View</a>
                                            <span class="center light-blue-text text-darken-4">Price : {{projects[$index].finalPrice}} ₹</span>
                                            <span class="right light-blue-text text-darken-4">No.of Views : {{projects[$index].noOfView}}</span>
                                    </div>
                                    <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{projects[$index].projectTitle}}<i class="ion-android-close right"></i></span>
                                            <h6 class="light-blue-text text-darken-4">Description:</h6>
                                            
                                            <span>{{projects[$index].description}}</span>
                                            <h6 class="light-blue-text text-darken-4">Programming Language :</h6>
                                            
                                            <span ng-repeat="programmingLanguage in projects[$index].programmingLanguage">{{programmingLanguage.name}} ,</span>
                                            <h6 class="light-blue-text text-darken-4">Frontend Technology :</h6>
                                            
                                            <span ng-repeat="frontendTechnology in projects[$index].frontendTechnology">{{frontendTechnology.name}} ,</span>
                                            <h6 class="light-blue-text text-darken-4">Database type:</h6>
                                            
                                            <span>{{projects[$index].databaseType.name}}</span>
                                        </div>
                                </div>
                            </div>
                            <div class="col s12 m4" ng-if="projects[$index+1].projectTitle">
                                <div class="card medium">
                                    <div class="card-image">
                                        <img class="activator" ng-src="{{projects[$index+1].indexPageUrl}}">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator cyan-text text-lighten-3"> {{projects[$index+1].projectTitle}} <i class="ion-android-more-vertical right"></i></span>
                                    
                                       
                                    </div>
                                    <div class="card-action ">
                                            <a ng-href="/project/{{projects[$index+1]._id}}">View</a>
                                            <span class="center light-blue-text text-darken-4">Price : {{projects[$index+1].finalPrice}} ₹</span>
                                            <span class="right light-blue-text text-darken-4">No.of Views : {{projects[$index+1].noOfView}}</span>
                                    </div>
                                    <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{projects[$index+1].projectTitle}}<i class="ion-android-close right"></i></span>
                                            <h6 class="light-blue-text text-darken-4">Description:</h6>
                                            
                                            <span>{{projects[$index+1].description}}</span>
                                            <h6 class="light-blue-text text-darken-4">Programming Language :</h6>
                                            
                                            <span ng-repeat="programmingLanguage in projects[$index+1].programmingLanguage">{{programmingLanguage.name}} ,</span>
                                            <h6 class="light-blue-text text-darken-4">Frontend Technology :</h6>
                                            
                                            <span ng-repeat="frontendTechnology in projects[$index+1].frontendTechnology">{{frontendTechnology.name}} ,</span>
                                            <h6 class="light-blue-text text-darken-4">Database type:</h6>
                                            
                                            <span>{{projects[$index].databaseType.name}}</span>
                                        </div>
                                </div>
                            </div>
                            
                        </div>

                                
                        </div>
                    </div>
                    </div>
                </section>
            </div>
    </div>
    
<!-- END WRAPPER -->


  <!-- END LEFT SIDEBAR NAV-->
    
            

          
