<admin-nav user="user" ></admin-nav>
<div class="row">
<div class=" col offset-m2 offset-s3 offset-l2">
<div id="jsgrid" class="section ">
 
        <div class="row">
          <div class="col s12 m5 l ">
            <h4 class="header">Project List</h4>
          </div>
          <div class="col s12 m5 l5">
         
              <div class="input-field col s12 l6">
                <input type="text"class="validate" id="grid">
                <label for="first_name">Search Project</label>
              </div>
             
            </div>
        </div>
        
        <!--Static Data-->
        <div class="row">
          <div class="col s12 m1 l1 ">
            <p>Project Data</p>
          </div>
          
          <div class="col s12 m11 l11 ">
              <p></p>
              <div id="jsGrid"></div>
          </div>
        </div>
        </div>
</div>
</div>

