<admin-nav user="user" ></admin-nav>
<div class="row">
<div class=" col offset-m2 offset-s3 offset-l2 s8 m8 l8">

        <div class="row">
          <div class="col s12 m6 l4 ">
            <h4 class="header">Project Request</h4>
          </div>
          
        
        <!--Static Data-->
        <div class="row">
         
          
          <div class="col offset-m1 offset-s3 offset-l1 s12 m11 l11 ">
              <p></p>
              <table class="hoverable centered" >
                <thead>
                  <tr> 
                    <th >Project Field</th>
                    <th >Project Info</th>
                    <th >Edit</th>
                    
                  </tr>
                </thead>
                <tbody> <td ></td>
                    <td >{{project.developer.fullName}}</td>
                    <td >{{project.uploadedDate | date : "MMM d, y h:mm:ss a"}}</td>
                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>
                <tr >
                    <td >Project Category</td>
                    <td >{{project.projectCategory.name}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>
                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>

                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>

                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>

                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>

                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>

                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>
                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>
                <tr >
                    <td >Project Title</td>projectTitle
                    <td >{{project.projectTitle}}</td>
                   
                    <td><a href="#!" ng-click="vm.viewProjectRequest(project._id)" ><i class="ion-eye small"></i></a></td>
                </tr>
                </tbody>
              </table>
          </div>
        </div>
        </div>
        
</div>
</div>

